/* Default Light Mode */
:root {
    --bg-color: #ffffff;
    --text-color: #222222;
    --button-bg: #222222;
    --button-text: #ffffff;
    --rect-color: #00f;
}

/* Dark Mode */
[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #f5f5f5;
    --button-bg: #f5f5f5;
    --button-text: #121212;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

button {
    background: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 8px 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;

}

#theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
}

canvas {
    background-color: var(--bg-color);
}

#start-btn {
    margin: 20px auto;
}

#start-btn:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.rect {
    width: 15px;
    height: 15px;
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #fff;
}

p {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-top: 8px;
}

.red-rect {
    background-color: #f00;
}
.green-rect {
    background-color: #0f0;
}

.blue-rect {
    background-color: #00f;
}


.black-rect {
    background-color: #000;
}
